/target/
/resources/

.mvn/
!mvn/wrapper/maven-wrapper.jar

.allure/

*.log

*.class
*.jar
*.war
*.ear
*.zip

*.iml
.idea/
*.project
.classpath
.DS_Store
*.swp
*.swo
*.json

/src/test/java/com/android/test/resources/geckodriver

browserstack.yml

*.apk